
    body{
    margin: 0px;
    background-color:darkslategray;
    margin-bottom: 0px;
    color: darkorange;
    max-width: 100%
       }
.logo{
    width: 150px;
    position: relative;
    top:300px;
    right: 600px;
}
    
#tema{
    position: relative;
    bottom: 70px;
    border-style: dotted;
    border-radius: 30px;
    border-color: aliceblue;
}
    /*El tema tiene un text-align en el center pero tambien utilize un margin left para que no intervenga con el logo*/
 

header{
    top: 0px;
    border-style: double;
    text-align: center;
    font-size: 30px;
    border-radius: 60px;
    border-color: aliceblue;
    }
    

nav{
    background-color: darkkhaki;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border: 0px;
    margin: 0px;
    padding: 5px;
    }

address{
   text-align: center;
    font-size: 20px;
    }

/*Pagina Nosotros*/

.nosotros{
    font-size: 40px;
    text-align: center;
    border-style: solid;
    height:110px;
    border-radius: 20px;
    border-color: aliceblue;
}

.fundadorb{
    width: 500px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 100px;
    border-style: dashed;
    border-color: aliceblue;
    
}

.mision{
    width: 600px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    position: relative;
    left: 1200px;
    bottom: 270px;
    border-style: dashed;
    border-color: aliceblue;
}
.Yoneudy{
    position: relative;
    width: 1000px;
    position: relative;
    left: 450px;
    margin: 10px;
}

/*Pagina Musicos*/


.marcus{
    width: 300px;
    height: 300px;
    
    
    
}

.victor{
    width: 300px;
    height: 300px;
    
}

.jaco{
    width: 300px;
    height: 300px;
    
    
}

.jimi{
    width: 300px;
    height: 300px;
    
    
}

.slash{
    width: 300px;
    height: 300px;
    
}

.musicos{
    float: left;
    font-size: 20px;
}


table{
    width: 60%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid black 3px;
    color: black;
    font-size: 30px;
}
th{
    border: solid black 5px;
    background-color: aliceblue;
    padding: 10px;
}
td{
    border: solid black 4px;
    text-align: center;
    background-color: deepskyblue;
    padding: 10px;
}

.fotosinstrumentos{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

.jazzbass{
    width: 200px;
    height: 500px;
    margin: 20px;
}

.jazzmaster{
    width: 200px;
    height: 500px;
    margin: 20px;
}

.presicionb{
    width: 200px;
    height: 500px;
    margin: 20px;
}

.telecaster{
    width: 200px;
    height: 500px;
    margin: 20px;
}

.yamaha{
    width: 200px;
    height: 500px;
    margin: 20px;
}

.stratocaster{
    width: 200px;
    height: 500px;
    margin: 10px;
}


.video1{
    width: 500px;
    height: 500px;
    margin: 200px;
    margin-top: 30px;
}

.video2{
    width: 500px;
    height: 500px;
    margin: 200px;
    margin-top: 30px;
}

figure{
    float: left;
    font-size: 20px;
}

form{
    font-size: 30px;
    border-style: double;
    border-radius: 30px;
}

.register{
    font-size: 30px;
}



  








